@import "tailwindcss";

@import "tw-animate-css";
@plugin '@tailwindcss/typography';

@custom-variant dark (&:is(.dark *));

@theme {
  --font-suez: "Suez One", sans-serif;
  --font-space: "Space Grotesk", sans-serif;

  --text-h1: 60px;
  --text-h1--line-height: 60px;
  --text-h1--font-weight: 400;
  --text-h2: 48px;
  --text-h2--line-height: 48px;
  --text-h2--font-weight: 400;
  --text-h3: 36px;
  --text-h3--line-height: 40px;
  --text-h3--font-weight: 400;
  --text-h4: 28px;
  --text-h4--line-height: 36px;
  --text-h4--font-weight: 400;
  --text-h5: 24px;
  --text-h5--line-height: 32px;
  --text-h5--font-weight: 400;
  --text-h6: 20px;
  --text-h6--line-height: 28px;
  --text-h6--font-weight: 400;
  --text-h7: 16px;
  --text-h7--line-height: 24px;
  --text-h7--font-weight: 400;
  --text-h8: 12px;
  --text-h8--line-height: 16px;
  --text-h8--font-weight: 400;
  --text-h9: 8px;
  --text-h9--line-height: 12px;
  --text-h9--font-weight: 400;

  --text-s1: 60px;
  --text-s1--line-height: 60px;
  --text-s1--font-weight: 700;
  --text-s2: 48px;
  --text-s2--line-height: 48px;
  --text-s2--font-weight: 700;
  --text-s3: 36px;
  --text-s3--line-height: 40px;
  --text-s3--font-weight: 700;
  --text-s4: 28px;
  --text-s4--line-height: 36px;
  --text-s4--font-weight: 700;
  --text-s5: 24px;
  --text-s5--line-height: 32px;
  --text-s5--font-weight: 700;
  --text-s6: 20px;
  --text-s6--line-height: 28px;
  --text-s6--font-weight: 700;
  --text-s7: 16px;
  --text-s7--line-height: 24px;
  --text-s7--font-weight: 700;
  --text-s8: 12px;
  --text-s8--line-height: 16px;
  --text-s8--font-weight: 700;
  --text-s9: 8px;
  --text-s9--line-height: 12px;
  --text-s9--font-weight: 700;

  --text-b1: 60px;
  --text-b1--line-height: 60px;
  --text-b1--font-weight: 400;
  --text-b2: 48px;
  --text-b2--line-height: 48px;
  --text-b2--font-weight: 400;
  --text-b3: 36px;
  --text-b3--line-height: 40px;
  --text-b3--font-weight: 400;
  --text-b4: 28px;
  --text-b4--line-height: 36px;
  --text-b4--font-weight: 400;
  --text-b5: 24px;
  --text-b5--line-height: 32px;
  --text-b5--font-weight: 400;
  --text-b6: 20px;
  --text-b6--line-height: 28px;
  --text-b6--font-weight: 400;
  --text-b7: 16px;
  --text-b7--line-height: 24px;
  --text-b7--font-weight: 400;
  --text-b8: 12px;
  --text-b8--line-height: 16px;
  --text-b8--font-weight: 400;
  --text-b9: 8px;
  --text-b9--line-height: 12px;
  --text-b9--font-weight: 400;

  --radius-2xl: calc(var(--radius) + 4px);
  --radius-xl: calc(var(--radius) + 2px);
  --radius-lg: var(--radius);
  --radius-md: calc(var(--radius) - 2px);
  --radius-sm: calc(var(--radius) - 4px);
}

:root {
  --component-black: oklch(32.11% 0 0);
  --component-white: oklch(100% 0 0);
  --component-border: oklch(88.53% 0 0);
  --component-frame: oklch(98% 0 0);
  --component-success: oklch(69.51% 0.1224 154.4);
  --component-error: oklch(59.66% 0.1313 21.25);
  --component-warning: oklch(70% 0.1 167);

  --tosca-050: oklch(0.97 0.0107 204.12);
  --tosca-100: oklch(0.9 0.0313 209.15);
  --tosca-200: oklch(0.85 0.045 208.78);
  --tosca-300: oklch(0.79 0.0651 209.78);
  --tosca-400: oklch(0.75 0.076 209.92);
  --tosca-500: oklch(0.69 0.0897 210.53);
  --tosca-600: oklch(0.64 0.0832 209.9);
  --tosca-700: oklch(0.54 0.0687 209.85);
  --tosca-800: oklch(0.45 0.0559 208.93);
  --tosca-900: oklch(0.37 0.0447 211.02);

  --yellow-050: oklch(0.98 0.0202 94.52);
  --yellow-100: oklch(0.92 0.0599 94.87);
  --yellow-200: oklch(0.89 0.0876 94.88);
  --yellow-300: oklch(0.84 0.1208 94.63);
  --yellow-400: oklch(0.81 0.1376 94.64);
  --yellow-500: oklch(0.77 0.1508 92.33);
  --yellow-600: oklch(0.71 0.1403 92.19);
  --yellow-700: oklch(0.6 0.1158 92.56);
  --yellow-800: oklch(0.5 0.0956 92.78);
  --yellow-900: oklch(0.41 0.0786 94.36);

  --background: oklch(1 0 0);
  --foreground: oklch(0.141 0.005 285.823);
  --card: oklch(1 0 0);
  --card-foreground: oklch(0.141 0.005 285.823);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.141 0.005 285.823);
  --primary: oklch(0.21 0.006 285.885);
  --primary-foreground: oklch(0.985 0 0);
  --secondary: oklch(0.967 0.001 286.375);
  --secondary-foreground: oklch(0.21 0.006 285.885);
  --muted: oklch(0.967 0.001 286.375);
  --muted-foreground: oklch(0.552 0.016 285.938);
  --accent: oklch(0.967 0.001 286.375);
  --accent-foreground: oklch(0.21 0.006 285.885);
  --destructive: oklch(0.577 0.245 27.325);
  --destructive-foreground: oklch(0.577 0.245 27.325);
  --border: oklch(0.92 0.004 286.32);
  --input: oklch(0.92 0.004 286.32);
  --ring: oklch(0.871 0.006 286.286);
  --chart-1: oklch(0.646 0.222 41.116);
  --chart-2: oklch(0.6 0.118 184.704);
  --chart-3: oklch(0.398 0.07 227.392);
  --chart-4: oklch(0.828 0.189 84.429);
  --chart-5: oklch(0.769 0.188 70.08);
  --radius: 0.625rem;
  --sidebar: oklch(0.985 0 0);
  --sidebar-foreground: oklch(0.141 0.005 285.823);
  --sidebar-primary: oklch(0.21 0.006 285.885);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.967 0.001 286.375);
  --sidebar-accent-foreground: oklch(0.21 0.006 285.885);
  --sidebar-border: oklch(0.92 0.004 286.32);
  --sidebar-ring: oklch(0.871 0.006 286.286);
}

.dark {
  --background: oklch(0.145 0 0);
  --foreground: oklch(0.985 0 0);
  --card: oklch(0.205 0 0);
  --card-foreground: oklch(0.985 0 0);
  --popover: oklch(0.205 0 0);
  --popover-foreground: oklch(0.985 0 0);
  --primary: oklch(0.922 0 0);
  --primary-foreground: oklch(0.205 0 0);
  --secondary: oklch(0.269 0 0);
  --secondary-foreground: oklch(0.985 0 0);
  --muted: oklch(0.269 0 0);
  --muted-foreground: oklch(0.708 0 0);
  --accent: oklch(0.269 0 0);
  --accent-foreground: oklch(0.985 0 0);
  --destructive: oklch(0.704 0.191 22.216);
  --border: oklch(1 0 0 / 10%);
  --input: oklch(1 0 0 / 15%);
  --ring: oklch(0.556 0 0);
  --chart-1: oklch(0.488 0.243 264.376);
  --chart-2: oklch(0.696 0.17 162.48);
  --chart-3: oklch(0.769 0.188 70.08);
  --chart-4: oklch(0.627 0.265 303.9);
  --chart-5: oklch(0.645 0.246 16.439);
  --sidebar: oklch(0.205 0 0);
  --sidebar-foreground: oklch(0.985 0 0);
  --sidebar-primary: oklch(0.488 0.243 264.376);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.269 0 0);
  --sidebar-accent-foreground: oklch(0.985 0 0);
  --sidebar-border: oklch(1 0 0 / 10%);
  --sidebar-ring: oklch(0.556 0 0);
}

@theme inline {
  --color-black: var(--component-black);
  --color-white: var(--component-white);
  --color-border: var(--component-border);
  --color-frame: var(--component-frame);
  --color-success: var(--component-success);
  --color-error: var(--component-error);
  --color-warning: var(--component-warning);

  --color-tosca-050: var(--tosca-050);
  --color-tosca-100: var(--tosca-100);
  --color-tosca-200: var(--tosca-200);
  --color-tosca-300: var(--tosca-300);
  --color-tosca-400: var(--tosca-400);
  --color-tosca-500: var(--tosca-500);
  --color-tosca-600: var(--tosca-600);
  --color-tosca-700: var(--tosca-700);
  --color-tosca-800: var(--tosca-800);
  --color-tosca-900: var(--tosca-900);

  --color-yellow-050: var(--yellow-050);
  --color-yellow-100: var(--yellow-100);
  --color-yellow-200: var(--yellow-200);
  --color-yellow-300: var(--yellow-300);
  --color-yellow-400: var(--yellow-400);
  --color-yellow-500: var(--yellow-500);
  --color-yellow-600: var(--yellow-600);
  --color-yellow-700: var(--yellow-700);
  --color-yellow-800: var(--yellow-800);
  --color-yellow-900: var(--yellow-900);

  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-destructive-foreground: var(--destructive-foreground);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background-color: var(--color-neutral-300);
}

.dark ::-webkit-scrollbar-track {
  background-color: var(--color-neutral-900);
}

/* Handle */
::-webkit-scrollbar-thumb {
  background-color: var(--color-neutral-100);
  border-radius: var(--radius);
}

.dark ::-webkit-scrollbar-thumb {
  background-color: var(--color-neutral-700);
  border-radius: var(--radius);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background-color: var(--color-neutral-050);
}

.dark ::-webkit-scrollbar-thumb:hover {
  background-color: var(--color-neutral-500);
}

.thin-scrollbar::-webkit-scrollbar {
  width: 4px;
  height: 4px; /* For horizontal scrollbars */
}

.thin-scrollbar::-webkit-scrollbar-track {
  background-color: transparent;
}

.thin-scrollbar::-webkit-scrollbar-thumb {
  background-color: var(--color-tosca-300);
  border-radius: 10px;
}

.dark .thin-scrollbar::-webkit-scrollbar-thumb {
  background-color: var(--color-tosca-600);
}

/* Firefox and Edge thin scrollbar */
.thin-scrollbar {
  scrollbar-width: thin;
  scrollbar-color: var(--color-tosca-300) transparent; /* thumb and track color */
}

.dark .thin-scrollbar {
  scrollbar-color: var(--color-tosca-600) transparent;
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.no-scrollbar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
